# Port number
PORT=3030

# URL of the Mongo DB
MONGODB_URL=mongodb://127.0.0.1:27017/wpe-tools-portal

# JWT
# JWT secret key (use this key for single sign on)
JWT_SECRET=HAKq8IVY9YEbaLLk35wliQPx9KyU6Twp2zzKUINKJIYteZ4gPFvccrpo40VorfjqByILljvt8P3inPp7pmqqeLyrzZwFHt8T9w5M
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=60
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10
# Issuer
JWT_ISSUER=WPE-tools

# SMTP configuration options for the email service
# For testing, you can use a fake SMTP service like Ethereal: https://ethereal.email/create
SMTP_HOST=mail-server
SMTP_PORT=465
SMTP_USERNAME=sample@mail.com
SMTP_PASSWORD=nrtkfojxfritgxll
EMAIL_FROM=email-account

# Super admin's information, this account will be created at the first run
SUPER_ADMIN_USERNAME=weatherplus
SUPER_ADMIN_EMAIL=admin@weatherplus.vn
SUPER_ADMIN_PASSWORD=123456aA
# Static folder, recommend 'uploads', it was added to .gitignore
STATIC_FOLDER=uploads

PUBLIC_VAPID_KEY=BOiQF4Jk7fBTWgIyTU9kyMbL08_8-78zwzMz8gEvBNWeeJewbGhgVpjsyQ-0BZEmF0Rx81z7jKBO7ti5F9fE6hY
PRIVATE_VAPID_KEY=YkLayl5IiX1YlBFAxC6nZAHhvdVeY2nr3M-DL5tHvM4

# Tools link
ICT_HOST=http://127.0.0.1:40000
RMA_HOST=http://127.0.0.1:10000
FAT_HOST=https://tools.seho.vn/api/fat
